<div
  class="relative w-full h-screen overflow-hidden flex items-center justify-center"
>
  <button
    type="button"
    class="group w-[150px] h-[50px] bg-black rounded-full relative"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <div
      #button
      class="w-[150px] h-[50px] bg-white relative rounded-full overflow-hidden border-[3px] border-black border-solid flex items-center justify-center -translate-y-[12px] after:absolute after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-r after:from-yellow-600 after:to-yellow-400 after:opacity-0 after:group-hover:opacity-100 after:duration-500 after:ease-out after:transition-all"
    >
      <span class="font-black text-black text-[20px] relative z-10"
        >SUBMIT</span
      >
    </div>
  </button>
</div>
