<div class="relative w-full h-screen overflow-hidden">
  <div
    class="bg-white relative w-full h-screen flex items-center justify-center"
  >
    <button
      type="button"
      class="px-40 py-10 flex items-center justify-center bg-blue-800 rounded-full overflow-hidden relative after:absolute after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2 after:w-[100vh] after:h-screen after:rounded-full after:scale-0 after:hover:scale-100 after:duration-300 after:ease-linear after:transition-all after:bg-pink-400"
      (click)="toMap()"
    >
      <p class="text-white font-semibold text-2xl relative z-10">Click Here!</p>
    </button>
  </div>
</div>
